    <meta name="description" content="Visualisez l'état du trafic routier de Rennes Métropole en temps réel et accédez à l'historique des données du trafic routier depuis juin 2023.">
    <meta property="og:title" content="Rennes Trafic">
    <meta property="og:description" content="Visualisez l'état du trafic routier de Rennes Métropole en temps réel et accédez à l'historique des données du trafic routier depuis juin 2023.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://data-rennes.ancois.com/">
    <meta property="og:image" content="{{ url_for('static', filename='icon.png') }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Rennes Trafic">
    <meta name="twitter:description" content="Visualisez l'état du trafic routier de Rennes Métropole en temps réel et accédez à l'historique des données du trafic routier depuis juin 2023.">
    <meta name="twitter:image" content="{{ url_for('static', filename='icon.png') }}">