    <meta name="description" content="Etat du trafic routier rennais en temps réel et accès à l'historique du trafic depuis juin 2023. Visualisez la circulation, téléchargez les archives et comprenez les données du réseau routier de Rennes Métropole.">
    <meta property="og:title" content="Rennes Trafic">
    <meta property="og:description" content="Etat du trafic routier rennais en temps réel et accès à l'historique du trafic depuis juin 2023. Visualisez la circulation, téléchargez les archives et comprenez les données du réseau routier de Rennes Métropole.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://trafic-rennes.ancois.com/">
    <meta property="og:image" content="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Rennes Trafic">
    <meta name="twitter:description" content="Etat du trafic routier rennais en temps réel et accès à l'historique du trafic depuis juin 2023. Visualisez la circulation, téléchargez les archives et comprenez les données du réseau routier de Rennes Métropole.">
    <meta name="twitter:image" content="{{ url_for('static', filename='favicon.ico') }}">